.countries-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px; 
  padding: 16px; 
  
}

.country-card {
  border: 1px solid #ddd; 
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.countries-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}
